
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://static-wbp-us.wgcdn.co/dcont/1.39.0/fb/image/tmb/helsing_and_dracula_2_c_592x331.jpeg');
  background-size: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

body {
  background: #dedede;
}

.page-wrap {
  min-height: 100vh;
}
